@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url("https://mattlv21.github.io/HTML/image.png");
    background-repeat: repeat;
    background-color: None;
}
button {
    background-color: #9edbfb;
    color: #1c439b;
    border-radius: 5em;
    border: none;
    box-shadow: 0em 0.5vh 5px;
}
*{
    box-sizing: border-box;
    font-family: Raleway;
}
.page{
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.baseLayout{
    display:grid;
    place-items: center;
}
.getButton {
    width: 15em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
}
.makeButton {
    width: 15em;
    text-align: center;
    font-size: 1em;
}
.hidden{
    display:none;
}
.text{
    display: grid;
    place-items: center;
    padding:2rem;
    color: #9edbfb;
    text-align: center;
    text-shadow: 0em 0.5vh 5px #1c439b;
}
#Challenge_Text {
    font-weight: bold;
    text-align: center;
    width: 9em;
    color: #9edbfb;
    text-shadow: 0em 0.5vh 5px #1c439b;
}
#Challenge_Text_Login {
    font-weight: bold;
    text-align: center;
    width: 9em;
    color: #9edbfb;
    text-shadow: 0em 0.5vh 5px #1c439b;
}
#info_box {
    font-weight: bold;
}
.Search {
    width: 15em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
    background-color: #11d111;
}

#defaultCanvas0{
    position:absolute;
}

#chart{
    position:absolute;
    top:0;
    left:0;
}
#link {
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #777;
    border: none;
    border-radius: 1em;
    box-shadow: 0em 0.5em #aaa;
}
.homeButton {
    width: 10em;
    text-align: center;
    font-size: 1em;
}

.loginButton {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    width: 10em;
}
.loginButton:hover {
    background-color: #aaa;
}
.skipButton {
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    width: 10em;
    background: None;
    box-shadow: None;
}
.skipButton:hover {
    background-color: #aaa;
}
#loginText {
    border: None;
    border-radius: 5em;
    font-weight: bold;
    text-align: center;
    width: 16.8em;
}
.logo {
    width: 20%; 
    height: 60%;
}
@media screen and (max-width:600px) {
    .logo {
        width: 60%; 
        height: 70%;
    }
}

#buttonList {
    width: 50vw;
    overflow: hidden;
}