@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f5f5f5;
}
*{
    box-sizing: border-box;
    font-family: Raleway;
}
.page{
    background-color: #f5f5f5;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.buttons{
    display:grid;
    place-items: center;
}
.getButton {
    width: 15em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
}
.makeButton {
    width: 15em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
}
.hidden{
    display:none;
}
.text{
    display: grid;
    place-items: center;
    padding:2rem;
    color: red;
}
#Challenge_Text {
    font-weight: bold;
    text-align: center;
    width: 9em;
}
#info_box {
    font-weight: bold;
}

.input {
    width: 16.8em;
}
.Search {
    width: 15em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
    background-color: #11d111;
}

.homeButton {
    width: 10em;
    text-align: center;
    font-size: 1em;
    border-radius: 1em;
    background-color: #ddd;
}


#defaultCanvas0{
    position:absolute;
}

#chart{
    position:absolute;
    top:0;
    left:0;
}
#link {
    color: black;
    text-align: center;
    font-weight: bold;
    background-color: #777;
    border: none;
    border-radius: 1em;
    box-shadow: 0em 0.5em #aaa;
}

